/* set all elements to use border-box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  margin-top: 8px;
}
body,
button {
  font-family: "Italianno", cursive;
  font-weight: 300;
  font-size: 1.5rem;
}

#countdown-container {
  padding: 1em;
}

#app {
  width: 100%;
}

#home,
#puzzle,
#puzzle-grid {
  width: 100%;
}

#puzzle-grid {
  margin-top: 1em;
}

#puzzle-buttons {
  display: flex;
  justify-content: space-between;
}

#calendar {
  display: none;
}

#calendar-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

button {
  min-height: 40px;
  min-width: 80px;
}

.calendar-box {
  border: 2px solid white;
}

.calendar-box:hover {
  cursor: pointer;
  border-color: black;
}

.calendar-box.blocked:hover {
  cursor: not-allowed;
  border-color: white;
}
