/* set all elements to use border-box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body,
button {
  font-family: "Italianno", cursive;
  font-weight: 300;
  font-size: 1.5rem;
}

#app {
  width: 100%;
  padding: 8px;
}

#countdown-container {
  padding: 0.3em;
}

#home,
#puzzle,
#puzzle-grid {
  width: 100%;
}

#puzzle-grid {
  margin-top: 1em;
}

#puzzle-buttons {
  display: flex;
  justify-content: space-between;
}

#calendar-source-image {
  display: none;
}

#calendar-container {
  width: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* make all grid children square */
#calendar-container * {
  aspect-ratio: 1;
}

button {
  min-height: 40px;
  width: 80px;
}

.calendar-box {
  border: 2px solid hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
  width: 100%;
}

.calendar-box.blocked {
  cursor: not-allowed;
  filter: grayscale(100%);
}

#version {
  text-align: right;
}
